
/*root*/
:root {
    --primaryColor: #b4b2b2;
}
.wrapper {
    margin: 0 1em;
    height: 100dvh;
}
header {
    text-align: center;
    background-color: var(--primaryColor);
    padding: 1em 5em;
    width: fit-content;
    border-radius: 0 0 4em 4em;
    margin: 0 auto;
    
}
h1, body {margin: 0;}
header h1 + p {margin-top: 0.5em; margin-bottom: 0;}
main {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}
.panel__skore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6em;
    
}
.skore {
    display: flex;
    gap: 1em;
}
.skore__text {
    padding: 0.5em 1em;
    background-color: var(--primaryColor);
    border-radius: 1em;
    margin: 0;
}

.moves__wrapper {padding: 1em; border-radius: 1em; background-color: var(--primaryColor);}
.moves__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}
.header__icon {width: 2em;}
.moves {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;   
}
.moves__img {width: 1.6em; padding: 0 2em;}
.moves__move {width: 20%; padding: 1em;}

.vysledek {
    text-align: center;
    padding: 0.5em 5em;
    background-color: var(--primaryColor);
    display: block;
    width: min-content;
    margin: 1em auto;
    border-radius: 2em;
}
img {width: 100%; display: block;}

/*btn*/
.btn--reset {
    display: flex;
    background-color: var(--primaryColor);
    border: none;
    padding: 0.5em;
    border-radius: 50%;
}

.reset__img {

}


.tahy {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.tahy__tah {
    display: flex;
    background-color: transparent;
    border: 4px solid black;
    padding: 1em;
    flex-basis: 50px;
    flex-grow: 1;
}

