
/*root*/
:root {
    --titleBg: #003566;
    --panel: #d9e8ff;
    --panelHeader: #5E7BC7;
    --win: #00BB34;
    --prohra: #8F0000;

}
.wrapper {
    margin: 0 1em;
    height: 100dvh;
}
header {
    text-align: center;
    background-color: var(--titleBg);
    padding: 1em 5em;
    width: fit-content;
    border-radius: 0 0 4em 4em;
    margin: 0 auto;
    margin-bottom: 5em;
}
h1, body {margin: 0;}
header h1 + p {margin-top: 0.5em; margin-bottom: 0;}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}
.panel__skore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6em;
    
}
.skore {
    display: flex;
    gap: 1em;
}
.skore__text {
    padding: 0.5em 1.2em;
    background-color: var(--panelHeader);
    margin: 0;
    border: solid 3px;
    border-color: var(--titleBg);
    border-radius: 1.2em;
}
.skore__text--vyhry {border-color: var(--win);}
.skore__text--prohry {border-color: var(--prohra);}
.reset__img {transition: transform 1s;}
.reset__img.rotating {animation: rotate 0.6s linear;}

.moves__wrapper {padding: 1em; border-radius: 1em; background-color: var(--panel);}
.moves__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}
.header__icon {width: 2em;}
.moves {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;   
}
.moves__img {width: 1.6em; padding: 0 2em;}
.moves__move {width: 20%; padding: 1em;}

.vysledek {
    text-align: center;
    padding: 0.5em 5em;
    display: block;
    width: 20%;
    margin: 1em auto;
    border-radius: 2em;
}
img {width: 100%; display: inline-block;}

/*btn*/
.btn--reset {
    display: flex;
    background-color: var(--panelHeader);
    border: none;
    padding: 0.5em;
    border-radius: 50%;
}


.tahy {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.tahy__tah {
    display: flex;
    background-color: transparent;
    border: 4px solid var(--titleBg);
    border-radius: 1em;
    padding: 1em;
    flex-basis: 50px;
    flex-grow: 1;
}
.tah__img {transition: 0.4s;}
.tahy__tah:hover .tah__img {
    scale: 0.7;
    transition: 0.4s;
}
.tahy__tah:focus {background-color: var(--titleBg);}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

